*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
}

.abas-ficheiro{
    display: flex;
    
}

.abas-ficheiro div{
    width: 200px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
    background-color: yellowgreen;
    margin-right: 3px;
    text-align: center;
    border: 1px solid black;;

} 

.ficheiro{
    width: 900px;
    height: 500px;
    background: yellowgreen;;
    border: 1px solid black;;

}
